
body{
    background-color: white;
    animation:fade 2s linear; 
  }
  
  #username, #password{
    width: 200px;
    height: 30px;
    margin: 10px;
    color:  #1d2c4d;
  }
  
  h5{
    margin: 20px;
    color: #a3a2a3;
  }
  
  h5:hover{
    color: black;
  }
  
  #container1{
    margin: 50px;
    padding: 10px;
    width: 530px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    border-top: 20px solid #1d2c4d;
    box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
    
    /*定位對齊*/
    margin: auto;
    top: 100px;
    text-align:center;  
  }
  
  .submit{
    color: white;  
    background: #1d2c4d;
    width: 200px;
    height: 50px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 0px;
  }
  
  .submit:hover{
    background: #1d2c4d;
  }
  